body{
    padding:.5rem 2rem;
}
header{
    background-color: bisque;
    padding:2rem;
}
header ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    gap:1.5rem;
}
header ul a{
    color:black;
    text-decoration: none;
    font-size:1.5rem;
}
header ul a:hover{
    color:red;
}
main{
    background-color: antiquewhite;
    padding:1rem 1rem 2rem 1rem;
}
main h1{
    color:red;
    text-transform: uppercase;
    text-align: center;
}
section.content{
    display:flex;
    gap:2rem;
}
section.content div:nth-child(2){
    line-height:1.4rem;
    letter-spacing: .1rem;
}
footer{
    display:flex;
    justify-content:space-between;
    padding:2rem;
    background-color: bisque;
    align-items:center
}

footer div:first-child{
    font-size:1.3rem;
    font-weight: bold;

}
 footer div.contact ul{
     display:flex;
     list-style-type: none;
     gap:1rem;
 }
 footer div.contact ul a{
     text-decoration:none;
     color:black;
     font-size:1.2rem;
 }
 footer div.contact ul a:hover{
     color:blue;
 }