:root{
    --color1:#ffe4c4;
    --color2:rgb(209,240,240);
    --color3:rgb(71,183,183);
    --border:4px solid rgb(134, 134, 238);
}
body{
    text-align:center;
    background-color: var(--color1);
}
nav{
    background-color: var(--color2);
}
nav ul li{
    display: inline-block;    
}
nav ul a{
    text-decoration: none;
    font-size:1.2rem;
    color:black;
    width:100px;
    display:inline-block;
    padding :.5rem 1rem;
}
nav ul li:hover{
    background-color: var(--color3);
}
.icerik{
    padding :3rem 2rem;
    background-color: var(--color2);
    border : var(--border);
    margin-bottom:1rem;
}
.icerik:hover{
    background-color: var(--color3);
}
