@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    padding:1rem;
    font-family:Roboto;
}
section.container{
    text-align: center;
}
section.container div.cards{
    display:flex;
    gap:2rem;
    margin-top:1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

section.container div.cards div{
    width:30%;
    padding:.5rem;
    border :1px solid #ddd;
}
.baslik{
    position:relative;
}
.baslik span{
    position:absolute;
    top:50%;
    left:50%;
    font-size:3rem;
    transform:translate(-50%,-50%);
    opacity:.1;
    font-weight:600;
}
