
section.container{
    background-color: lightgray;
    width:60%;
    border-radius: 20px ;
    margin:0 auto;
}
img{
    width:100%;
    
}
h1{
    color:red;
    padding:1rem 0 0 1rem;
    
}
.container p{
    color:rgb(90, 88, 88);
    font-size:20px;
    padding:0 1rem;
}
.container a{
    text-decoration: none;
    font-size: 20px;
    margin-right:1rem;
}
.container a:hover{
    color:red;
}
.menu{
    padding-left:1rem;
    padding-bottom:1rem;
}
