
.resume .resume-item {
    background: #FFF;   
    margin-top: 30px;
    max-height: 140px;
    overflow: hidden;
}

.resume [class^="col-"]:first-child .resume-item  {
    margin-top: 0 !important;
}

.resume .resume-item h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
}

.resume .resume-item span {
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
}

.resume .resume-item p {
    line-height: 20px;
    margin-bottom: 0;
}