
nav.menu{
    font-family: "Poppins",sans-serif;
    text-align: left;
    background-color: rgb(122, 251, 251);
    width: 300px;
}

nav.menu ul{
    list-style-type: "⌚";
    padding:1rem;
    list-style-position: inside;
}
 
nav.menu a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 0 0.5rem;
}

nav.menu a:visited{
    color: black;
}

nav.menu a:hover{
    background-color: rgb(57, 206, 206);
    color: rgb(232, 249, 120);
}

nav.menu li{
    padding:0.3rem;
}