.about::first-letter{
    font-size: 2rem;
}

.about::first-line{
    color: red;
}

.about::selection{
    background-color: chartreuse;
}

.liste li{
    color: red;
}

.liste li::marker{
    color: blue;
    font-size: 3rem;
}


.about span{
    color: blue;
}

.about span::before{
    content: "◀";
    color: chartreuse;
    
}

.about span::after{
    content: "▶";
    color: chartreuse;
}