.custom-checkbox{
    user-select: none;

}

.custom-checkbox input[type="checkbox"]{
   display: none;
}

.custom-checkbox label{
    cursor: pointer;
}

.custom-checkbox label::before{
    content: "";
    width: 10px;
    height: 10px;
    border:1px solid red;
    border-radius: 2px;
    display: inline-block;
    margin-right:5px;
    box-shadow: 0 0 10px rgb(131, 131, 131);
}

.custom-checkbox input[type="checkbox"]:checked + label::before{
    background-color: red;
}

