header{
    background-color: red;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.content{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}

main{
    background-color: orange;
    flex: 4 1 500px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

main .image{
    flex: 1 1 150px;
}

main .about{
    flex: 6 1 400px;
}

aside{
    background-color: gray;
    flex: 1 1 200px;
    padding: 1rem;
}

aside .kutu{
    background-color: cornflowerblue;
    padding: 0.5rem;
    margin-bottom: 1rem;

}

footer{
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    color:antiquewhite
}