.input-group1{
    display: inline-block;
    position: relative;
}


.input-group1 input{
    border:1px solid rgb(56, 56, 56);
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 0.5rem;
}

.input-group1 input:focus{
    outline: 1px solid red;
    border: 1px solid red;
}

.input-group1 i{
    position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
}




.input-group2{
    display: inline-block;
    position: relative;
}

.input-group2 input{
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-radius: 5rem;
    border:1px solid rgb(40, 40, 40);
}

.input-group2 input:focus{
    outline: 1px solid rgb(3, 15, 193);
    border: 1px solid rgb(3, 15, 193);
}

.input-group2 button{
    position: absolute;
    right:0;
    top:0;
    bottom: 0;
    border-radius: 5rem;
    border:1px solid rgb(40, 40, 40);
    padding: 0 1rem;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(162, 162, 162), rgb(74, 74, 74));
    color:aliceblue;
}

.input-group2 button:hover{
    background-image: linear-gradient(to top, rgb(162, 162, 162), rgb(74, 74, 74));
}