@mixin reset-list{
    list-style-type: none;
    padding: 0;
    margin:0;
}

@mixin flex($jc: space-between, $fd: column, $gap:0, $ai: stretch){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap:$gap;
}

@mixin bg($key, $value){
    background-#{$key}: $value;
}