$primary-font: Poppins;
$color1: rgb(28, 18, 102);
$color2: rgb(237, 237, 237);
$color3: rgb(153, 38, 195);
$color4: rgba($color3, 0.5);
$card-bg-image: url("../img/bg.jpg");
$colors: (youtube: red, instagram: green, facebook: blue);