@use "variables" as v;

.weather-card{
    background-color: v.$color1;
    border-radius: 20px;
    color: v.$color2;
    display: flex;

    > .left{
        flex: 2;
        background-image: v.$card-bg-image;
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        position: relative;

        &::before{
            content: "";
            background-color: v.$color4;
            position: absolute;
            top:0; left:0; right:0; bottom:0;
            border-radius: 20px;
        }

        h2, h4, h5{
            margin:0;
            text-shadow: 0 0 5px v.$color1 ;
        }

        .top{
            z-index: 3;
            h2{
                font-size: 2rem;
            }
            h4, h5{
                font-size: 0.8rem;
                font-weight: 500;
            }
        }

        .bottom{
            z-index: 3;
            h2, h4{
                font-size: 3rem;
                line-height: 3.5rem;
            }
            h5{
                font-size: 0.8rem;
            }
        }

        


    }

    > .right{
        flex:3;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:2rem;

        ul.status{
            list-style-type: none;
            padding: 0;
            margin:0;

            li{
                display: flex;
                justify-content: space-between;
            }           
        }

        ul.days{
            list-style-type: none;
            padding: 0;
            margin:0;
            display: flex;
            justify-content: space-between;
            text-align: center;

            li{
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
                border-radius: 20px;

                > span {

                    &:nth-child(1){
                        font-size: 2.5rem;
                    }

                    &:nth-child(3){
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                }
                
                
                
            }

            li.active{
                background-color: v.$color2;
                color: v.$color1;
            }
        }

        button{
            padding: 0.5rem;
            border-radius: 20px;
            border:0;
            cursor: pointer;
            background-image: linear-gradient(60deg, v.$color4, v.$color3);
        }
    }
}