.header {
    background: #5655da;
    padding: 46px;
    position: fixed;
    height: 100%;
    width: 260px;
    z-index: 5;
}


@media only screen and (max-width: 991px) {
 .header {
        -ms-transform: translateX(-260px);
        -webkit-transform: translateX(-260px);
        transform: translateX(-260px);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}

@media only screen and (max-height: 600px) {
    .header .name {
        margin: 15px 0;
    }

    .header .main-nav ul li {
        padding-bottom: 10px;
    }

    .header .social-icons {
        margin: 0 0 15px;
    }

    .header .copyright {
        bottom: -18px;
        position: relative;
    }
}