.about-us{
    background-color: red;
    color: white;
    padding: 2rem;
    margin:2rem 0;
    transform: translateX(150%);
    transition: transform 1s;
    &.active{
        transform: translateX(0);
    }
}
