.about .resume-download {
    display: block;
    position: absolute;
    right: 0;
    top: -12px;
    background: #5655da;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
}