nav.main-nav {
  height: 80vh;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    overflow: hidden;

    > li {
      > div {
        background-color: burlywood;
        padding: 0.3rem;
        border-top: 0.2rem solid white;
        border-bottom: 0.2rem solid white;
        position: relative;
        z-index: 3;
      }
    }

    ul {
        background-color: rgb(252, 239, 222);
        transform: translateY(-100%);
        height: 0;
        overflow: hidden;
        transition: transform 0.2s ease-out;
        position: relative;
        z-index: 0;
    }
  }

  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
  }

  .collapsable {
    cursor: pointer;
  }

  .collapsed + ul {
    transform: translateY(0);
    height: auto;
  }
}
